*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    background: transparent;
    font-family: 'Poppins', sans-serif;

}

body{
    /* background-color:hsla(0,0%,0%,1);
    background-image:
    radial-gradient(at 40% 20%, hsla(95,0%,0%,1) 0px, transparent 50%),
    radial-gradient(at 74% 59%, hsla(184,17%,5%,1) 0px, transparent 50%),
    radial-gradient(at 0% 50%, hsla(74,0%,33%,1) 0px, transparent 50%),
    radial-gradient(at 80% 50%, hsla(102,6%,10%,1) 0px, transparent 50%),
    radial-gradient(at 0% 100%, hsla(0,0%,15%,1) 0px, transparent 50%),
    radial-gradient(at 79% 99%, hsla(107,46%,11%,1) 0px, transparent 50%),
    radial-gradient(at 0% 0%, hsla(103,49%,70%,1) 0px, transparent 50%); */

    background-color:hsla(0,0%,0%,1);
background-image:
radial-gradient(at 100% 49%, hsla(122,92%,16%,1) 0px, transparent 50%),
radial-gradient(at 0% 100%, hsla(93,81%,20%,1) 0px, transparent 50%),
radial-gradient(at 0% 0%, hsla(93,81%,20%,1) 0px, transparent 50%);
    background-image: cover;
    color: white;
    overflow: hidden;
    overflow-y: scroll;
}