#Example{
    width: 60%;
    margin: auto;
    justify-content: center;
    align-content: center;
    text-align: center;
    position: relative;
    height: 100%; /* Set the container height as needed */
    margin-bottom: 5rem;
   
}
video{
  width: 90%; 
  /* height: 600px; */
}
h1{
    padding: 1.7rem;
    font-size: 70px;
}

h2{
    padding: 1.5rem;
    font-size: 40px;
}
span{
    font-size: 26px;
    /* padding-bottom: 2rem; */
}

.description-text{
    padding: 1.3rem;
}

.center_img_normal {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 2rem;
    border-radius: 40px;
  }

  img.center_img_normal{
    width: 750px;
  }

  .center_img_small {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 2rem;
    border-radius: 40px;
  }

  img.center_img_small{
    width: 300px;
  }

  /* @media  screen and (max-width:1350px) {
    
    #HowToUse{
      height: 160rem;
    }
    
}

@media  screen and (max-width:1250px) {
    
  #Example{
    height: 154rem;
  }
}


  @media  screen and (max-width:1150px) {
    
    #Example{
      height: 190rem;
    }

    
    
}

@media  screen and (max-width:414px) {
  #Example{
    height: 320rem;
  }

  video{
    width: 90%;
  }
}

@media  screen and (max-width:360px) {
  #Example{
    height: 370rem;
  }
} */