 .navbar{
    /* max-width: 75rem; */
    height: 9rem;
    width: 100%;
    /* margin: 0 auto; */
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 3;
    /* background-color: #787878; */
    background-color: #1a1a1a;

    font-size: 20px;
 }

 .desktopMenuListItem{
   color: #ffffff;
 }

 .contentNavbar{
   margin: 0 auto;
   width: 75%;
   display: flex;
   align-items: center;
   justify-content: space-between;
   position: sticky;
   top: 0;
   z-index: 4;
 }

 .logo{
    object-fit: cover;
    height: 4rem;
    /* width: 4rem; */
    border: none;
    border-radius: 10px;
    padding: 5px;
      background-color: white;
 }

 .desktopMenuListItem{
    margin: 1rem;
    cursor: pointer;
 }


.desktopMenuImg{
    object-fit: cover;
    height: 1rem;
    width: 1rem;
    margin: 1rem;
}

.desktopMenuListItem:hover{
    color:#A0E4B0;
    padding-bottom: 0.5rem;
    border-bottom: 3px solid #A0E4B0;
}

.desktopMenuBtn{
    background: white;
    color: black;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
    border-radius: 2rem;
 }

 .mobMenu{
   display: none;
   object-fit: cover;
   height: 6rem;
 }

 .navMenu{
   position: absolute;
   top: 100%;
   right: 0rem;
   z-index: 2;
   display: flex;
   flex-direction: column;
   padding: 0.5rem;
   background-color: #5c5c5c;
   height: fit-content;
   width: 100%;
   border-radius: 1rem;
 }

 .listItem{
   color:white;
   padding: 2rem 3rem;
   margin: 0.25rem;
   background-color: #787878;
   border-radius: 10px;
   box-shadow: 0 1px 2px #000000;


 }

 
 .listItem:hover{
   scale: 1.05;
   color:white;
   background-color: #787878;
   box-shadow: 0 1.5px 2.5px #000000;

 }

 @media  screen and (max-width:1150px){
   .mobMenu{display: flex;}
   .desktopmenu{
      display: none;
   }
   .navbar{
      margin: 0;
      padding: 0;
   }

   .logo{
      margin: 2%;
      
   }

   .contentNavbar{
      margin: 0;
      width: 100%;
   }
 }

 @media  screen and (max-width:1150px){
  .mobMenu{
    height: 4.5rem;
  }
 }